body{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

/*-------------------------
-------- Loader CSS -------
-------------------------*/
#loader-wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: white;
  z-index: 1000;
  .loader{
    margin: auto;
    display: table;
    margin-top: 30vh;
  }
}

/*-------------------------
-------- layer CSS --------
-------------------------*/
.app-section{
  width: 100%;
  height: 100vh;
  background-image: asset-url('Layer1.png');
  background-size: cover;
  background-repeat: no-repeat;
  .layer-bottom{
    width: 100%;
    height: 100vh;
    background-image: asset-url('Layer2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
  }
}

.content-text{
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  top: 22vh;

  h1{
    font-size: 51px;
    letter-spacing: 7px;
    line-height: 85px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
  }

  h2{
    font-size: 34px;
    letter-spacing: 0;
    color: #ffffff;
    font-weight: lighter;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
  }

  .result{
    font-weight: lighter;
    color: black;
    width: 523px;
    margin: auto;
    margin-top: auto;
    padding: 20px;
    background: white;
    margin-top: 20px;
    font-size: 15px;
    border: solid 1px #ccc;
    border-radius: 5px;
  }

  .top-visit{
    border: dashed 1px;
    margin-top: 10px;
    padding-top: 10px;
  }
}

.input-url{
  width: 400px;
  border: solid 4px black;
  margin-top: 10px;
  padding: 10px;
  font-size: 22px;
  display: inline-block;
  color: black;
}

.btn-shorten{
  border: solid 4px black;
  margin-top: 20px;
  padding: 10px;
  font-size: 22px;
  display: inline-block;
  color: white;
  background: #ff2400;
  cursor: pointer;
  text-transform: uppercase;
  &:hover{
    opacity: 0.8;
  }
}

.copy-link{
  border: solid 1px #0a0a0b;
  width: 80px;
  margin-top: 10px;
  margin: auto;
  margin-top: auto;
  margin-top: 10px;
  font-weight: 400;
  background: #fadada;
  padding: 2px;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
  &:hover{
    opacity: 0.8;
  }
}

.alert-error{
  background: red;
  color: white;
}
