<h1>Shortener Your URL</h1>
<h2>Paste a link to shorten it</h2>

<%= form_for Shortened.new, method: 'post', url: shorteneds_path do |f| %>
  <%= text_field_tag :original_url, params[:original_url], placeholder: 'Ex: https://www.your-link.com', class: 'input-url', required: true %>
  <%= button_tag :shorten, class: 'btn-shorten' %>

  <% if flash.present? %>
    <div class='result'>
      <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>">
          <%= value %>
        </div>
      <% end %>

      <% if @url.present? %>
        From IP: <%= request.location.ip %>
        <br>
        Output: 
        <span class='output-url'>
          <b><%= link_to root_url+@url.short_url, @url.short_url, target: '_blank' %></b> 
          <div class='copy-link'>COPY</div>
          <%= text_field_tag :result, root_url+@url.short_url, class: 'value-link', style: 'display:none;' %>
        </span>
        <br>

        <% if @url.shortened_visits.present? %>
          <div class='top-visit'>
            Top 10 Country By Visit This URL:
            <br>
            <ol>
              <% @url.shortened_visits.top.limit(10).each do |v| %>
                <li><b><%= v.country %></b> : <b><%= v.click %></b></li>
              <% end %>
            </ol>
          </div>
        <% end %>
      <% end %>
    </div class='result'>
  <% end %>
<% end %>