<!DOCTYPE html>
<html>
  <head>
    <title>Shortener</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <div id="loader-wrapper">
      <div class="loader">
        <%= image_tag 'loading.gif' %>
      </div>
    </div>

    <div class='app-section'>
      <!-- Layer -->
      <div class='layer-bottom'>
        <div class='content-text'>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
  <%= javascript_include_tag 'application' %>
</html>
